*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    cursor: none;
}

#main{
    height: 200%;
    width: 100%;
    background-color: rgb(96, 56, 32);
}

#cursor{
    height: 20px;
    position: fixed;
    transform: translate(-50%, -50%);
}