*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: black;
}


#box{
    width: 350px;
    height: 350px;
    background-color: aqua;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


button{
    padding: 20px 35px;
    border: none;
    border-radius: 10px;
    background-color: rgb(147, 147, 227);
    cursor: pointer;
}

button:active{
    scale: 0.95;
}
