body{
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.container{
    text-align: center;
}

h1{
    color: gold;
    font-size: 80px;
    margin-bottom: 30px;
}

button{
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background-color: #333;
    color: white;
    transition: 0.2s ease;
}

button:hover{
    background-color: #555;
}
