*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.box{
    height: 200px;
    width: 200px;
    transition: all 0.3s;
}
.red{
    background-color: rgb(118, 28, 28);
}

.blue{
    background-color: rgb(21, 21, 130);
}

.green{
    background-color: rgb(21, 101, 21);
}

body:has(.box:hover) .box{
    transform: scale(0.8);
    opacity: 0.8;
}

body .box:hover{
    transform: scale(1.2) !important;
    opacity: 1;
}