* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 10px;
}

#box {
    height: 350px;
    width: 350px;
    background-color: #222;
    border-radius: 15px;
    transition: 0.4s ease-in-out;
}

button {
    padding: 10px 25px;
    background-color: crimson;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(200,20,50);
}

button:active {
    scale: 0.95;
}

.codes {
    font-size: 20px;
}

.codes span {
    font-weight: bold;
}

.copy {
    padding: 5px 10px;
    font-size: 12px;
    margin-left: 10px;
}
