*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 10px 20px;
    font-size: 30px;
    background-color: wheat;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

button:active{
    scale: 0.95;
}