*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    color: rgb(0, 221, 0);
    font-size: 2rem;
}