*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100;
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    anchor-name: --some-anchor;
}

.box{
    height: 200px;
    width: 200px;
}

.box:hover{
    anchor-name: --some-anchor;
}

.red{
    background-color: rgb(118, 28, 28);
}

.blue{
    background-color: rgb(21, 21, 130);
}

.green{
    background-color: rgb(21, 101, 21);
}

.anchor{
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: anchor(top);
    left: anchor(left);
    bottom: anchor(bottom);
    right: anchor(right);
    pointer-events: none;
    position-anchor: --some-anchor;
    transition: all 0.3s linear;
    mix-blend-mode: difference;

}